.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    margin-left: 28px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar-nav a{
    color: black;
}
.navbar-nav a:hover{
    text-decoration: none; 
}

.navbar{
    padding: .5rem 4rem;
    box-shadow: 1px 1px 4px #f0ebeb;
}
.signup{
    padding: 10px 20px;
    background: #ff4565;;
    border-radius: 22px;
    color: white !important;
    font-weight: 600;

}
.login:hover{
    text-decoration: none;
}
.signup:hover{
    text-decoration: none;
}